* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}
.secondary-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0;
}

.btn {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.baner {
  display: flex;
  padding: 50px 240px 0 240px;
  background: rgba(229, 84, 115, 0.1);
}
.img-section {
}

.header {
  color: #272727;
  font-size: 58px;
  font-weight: 800;
}
.baner-img {
  width: 550px;
}
.baner-text {
  padding-top: 150px;
}

/* main section styles  */
main {
  margin: 150px 0;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.section-text {
  width: 650px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: auto;
}

/* Flower tree section styles  */

.flower-tree {
  display: flex;
  justify-content: space-between;
  margin: 50px 240px;
}

.tree-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 360px;
  height: 500px;
}
.tree-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 360px;
  height: 500px;
}
.tree-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 360px;
  height: 500px;
}
.tree img {
  width: 300px;
  display: block;
  margin: auto;
  text-align: center;
}
.tree-1 img {
  padding-top: 85px;
}
.tree-2 img {
  padding-top: 150px;
}
.tree-3 img {
  padding-top: 50px;
}

.tree p {
  color: #272727;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 20px;
}
